body {
    background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}
.add{
    float: right;
    width: 10px;
    overflow: hidden;
    color: rgb(247, 235, 235);
    margin-top: 10px;
    border-radius: 10px;
}
.add:hover{
    transition: 1s;
    background-color: green;
    width: 50px;
    display: grid;
    color: black;
}