<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        

        <!-- Grid column -->
        <div class="col-md-10 mt-md-0 mt-3">
          <img class="logo"
        src="https://scontent.xx.fbcdn.net/v/t1.15752-9/275140876_2777081439252039_198760313899132656_n.png?_nc_cat=103&ccb=1-5&_nc_sid=aee45a&_nc_ohc=-PoW_JDl3tcAX_u_AFh&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJZKNENf5fo9dPSwJEeJMoQjJjVzw-a4HXrGM_EFL3Stw&oe=6260BE30" alt="Logo">
          <!-- Content -->
          <h5 class="footer-text">Register for free!</h5>
          
          <a href="/createUser">SIGN UP!</a>
        </div>
        <hr>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a routerLink=""> BitByBit.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>