<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/select">
</head>
<body>
    <div class="div-body">
        <table>
            <thead>
                <th class="header">Component<hr></th>
                <th class="header">Selection<hr></th>
                <th class="header">Base<hr></th>
                <th class="header">Model<hr></th>
                <th class="header">Price<hr></th>
                <th class="header">Find Parts<hr></th>
            <tbody>
                <tr>
                    <td class="rowHeader">CPU</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">CPU Cooler</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Motherboard</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Memory</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Storage</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Video Card</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Case</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Power Supply</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Operating System</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success">Add</button></td>
                </tr><br>
                <tr>
                    <td class="rowHeader">Monitor</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td><button class="btn btn-outline-success" type="submit">Add</button>
                    </td>
                </tr><br>
            </tbody>
        </table>
    </div>
    <br><br>
</body>
</html>