<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base routerLink="">
  </head>
<body>
    <h1 class="text-center"><u>Introducing the BitByBit Team</u></h1>
    <div class="centered text-center">
        <div class="split-left"><br>
            <div class="card-body text-center">
                <img src="/assets/johnpc.png/" alt="john pc" height="400px">
                <h2>John Ngan's PC Build</h2>
                <ul class="list-group">
                    <li>CPU: 3900x</li>
                    <li>CPU Cooler: NZXT Kraken x73 </li>
                    <li>GPU: 1080ti</li>
                    <li>Case: Lian Li O11 Dynamic</li>
                    <li>Power Supply: Seasonic Focus Plus 750 platinum</li>
                </ul>
            </div>
        <br><hr>
        </div>
        <div class="split-right"><br>
            <div class="card-body">
                <img width="400px" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/275848256_363771592296477_661838809442757234_n.png?stp=dst-png_s206x206&_nc_cat=108&ccb=1-5&_nc_sid=aee45a&_nc_ohc=BpRxoGvsAWUAX_qOm25&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLA-blzZEmZW6tBL8dZf23udrufTxc6NJrQYzwpJ1-C-Q&oe=625E3077" alt="Hunter's PC">
                <h2>Hunter Melcher's PC Build</h2>
                <ul class="list-group">
                <li>CPU: Intel Core i7-10700F Desktop Processor 8 Cores up to @4.8 GHz</li>
                <li>CPU Cooler: NZXT Kraken x73 </li>
                <li>GPU: GTX 1050 TI , PHOENIX GTX 1050 Ti 4GB</li>
                <li>Case: KEDIERS PC Case - ATX Tower Tempered Glass Gaming Computer</li>
                <li>Power Supply: EVGA 210-GQ-0750-V1 750 GQ, 80+ GOLD 750W</li> 
                </ul>
            </div>
        <br></div>
    </div>
    <br>
  </body>
</html>
